# LangSmith
LANGSMITH_PROJECT="deep-quest"
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="개인 설정"
LANGSMITH_API_KEY="개인 설정"

# The following depend on your selected configuration

# LLM choice:
GOOGLE_API_KEY="개인 api key"

ENVIRONMENT=development